<template>
  <div class="my-4 ml-2">
    <h4>เพิ่มข้อมูลห้อง</h4>
    <b-card class="mx-auto my-4" border-variant="dark" style="max-width: 40rem">
      <b-row>
        <b-col sm="3"><label class="text-dark">ชื่อตึก</label></b-col>
        <b-col sm="9">
          <b-form-input
            v-model="textbuilding"
            class="namebuilding"
          ></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">ชั้น</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="textfloor" class="Floor"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">หมายเลขห้อง</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="textnumroom" class="no_room"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">ผู้พิจารณา</label></b-col>
        <b-col sm="9">
          <b-form-input
            v-model="textapprover1"
            class="approver1"
          ></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">ผู้พิจารณา</label></b-col>
        <b-col sm="9">
          <b-form-input
            v-model="textapprover2"
            class="approver2"
          ></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button @click="backroom" variant="outline-primary" href="room"
        >กลับ</b-button
      >
      <b-button @click="confirmaddroom" variant="primary" href="room"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backroom () {},
    confirmaddroom () {}
  },
  data () {
    return {
      textbuilding: '',
      textfloor: '',
      textnumroom: '',
      textapprover1: '',
      textapprover2: ''
    }
  }
}
</script>
<style></style>
