<template>
  <div class="my-4 ml-2">
    <h4>เพิ่มหน่วยงานย่อย</h4>
    <b-card class="mx-auto my-4" border-variant="dark" style="max-width: 50rem">
      <b-row>
        <b-col sm="3"><label class="text-dark">ชื่อหน่วยงาน</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="textname" class="nameunitSub"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">จำนวนคน</label></b-col>
        <b-col sm="9">
          <b-form-input
            v-model="textnumPeople"
            class="numPeople"
          ></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"
          ><label class="text-dark">ส่วนงานที่รับผิดชอบ</label></b-col
        >
        <b-col sm="9">
          <b-form-input v-model="textsegment" class="segment"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button @click="backunitSub" variant="outline-primary" href="subunit"
        >กลับ</b-button
      >
      <b-button @click="confirmunitSub" variant="primary" href="subunit"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backunitSub () {},
    confirmunitSub () {}
  },
  data () {
    return {
      textname: '',
      textnumPeople: '',
      textsegment: ''
    }
  }
}
</script>
<style></style>
