<template>
  <div class="my-4 ml-2">
    <h4>เพิ่มข้อมูลหน่วยงาน</h4>
    <b-card class="mx-auto my-4" border-variant="dark" style="max-width: 40rem">
      <b-row>
        <b-col sm="3"><label class="text-dark">ชื่อหน่วยงาน</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="textunit" class="nameUnit"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button @click="backUnit" variant="outline-primary" href="Unit"
        >กลับ</b-button
      >
      <b-button @click="confirmAddUnit" variant="primary" href="Unit"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backUnit () {},
    confirmAddUnit () {}
  },
  data () {
    return {
      textunit: ''
    }
  }
}
</script>
<style></style>
