<template>
  <div class="my-4 ml-2">
    <h4>ข้อมูลตึก</h4>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button @click="addBuilding" variant="primary" href="addBuilding"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="detailBuilding"
            :fields="fields"
          >
            <template #cell(editBuilding)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button
                @click="editBuild(item)"
                variant="warning"
                href="editBuilding"
                >แก้ไข</b-button
              >
            </template>
            <template #cell(deleteBuildaing)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button @click="deleteBuild(item)" variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  mounted () {
    this.getBuilding()
  },
  methods: {
    getBuilding () {
      axios.get('http://localhost:3000/building').then(
        function (response) {
          console.log(response.data)
          let num = 0
          response.data.forEach((element) => {
            num++
            const obj = {
              _id: element._id,
              Num: num,
              name: element.name,
              code: element.code,
              floor: element.floor,
              agency: element.agency
            }
            this.detailBuilding.push(obj)
          })
        }.bind(this)
      )
    },
    addBuilding () {},
    editBuild () {},
    deleteBuild () {} // ปุ่มแก้ไข
  },
  data () {
    return {
      fields: [
        { key: 'Num', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อตึก' },
        { key: 'code', label: 'รหัสตึก' },
        { key: 'floor', label: 'จำนวนชั้น' },
        { key: 'agency', label: 'หน่วยงานที่รับผิดชอบ' },
        { key: 'editBuilding', label: '' }, // หัวข้อของปุ่ม
        { key: 'deleteBuildaing', label: '' }
      ],
      detailBuilding: []
    }
  }
}
</script>
<style>
.table {
  text-align: center;
  background: white;
}
</style>
