<template>
  <div class="my-4 ml-2">
    <h4>ยืนยันเอกสารการขอจอง</h4>
    <b-card class="mx-auto my-4" border-variant="dark" style="max-width: 60rem">
      <b-row>
        <b-col>
          <label class="text-dark">ชื่อ-นามสกุล</label>
          <b-form-input v-model="textname"></b-form-input>
        </b-col>
        <b-col>
          <label class="text-dark">ตำแหน่ง</label>
          <b-form-input v-model="textposition"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label class="text-dark">สาขาวิชา</label>
          <b-form-input v-model="textsubject"></b-form-input>
        </b-col>
        <b-col>
          <label class="text-dark">คณะ</label>
          <b-form-input v-model="textfaculty"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label class="text-dark">วัตถุประสงค์</label>
          <b-form-input v-model="textgoal"></b-form-input>
        </b-col>
        <b-col>
          <label class="text-dark">อุปกรณ์ที่ขอใช้</label>
          <b-form-input v-model="texttool"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label class="text-dark">ตึก</label>
          <b-form-input v-model="textbuilding"></b-form-input>
        </b-col>
        <b-col>
          <label class="text-dark">ชั้น</label>
          <b-form-input v-model="textfloor"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label class="text-dark">ห้อง</label>
          <b-form-input v-model="textroom"></b-form-input>
        </b-col>
        <b-col>
          <label class="text-dark">เวลา</label>
          <b-form-input v-model="texttime"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button
        @click="backConfirm"
        variant="outline-primary"
        href="documentBooking"
        >กลับ</b-button
      >
      <div>
        <b-button @click="status" variant="primary" href="statusUser"
          >สถานะ</b-button
        >
        <b-button @click="print" variant="primary" class="ml-1">พิมพ์</b-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backConfirm () {},
    status () {},
    print () {}
  },
  data () {
    return {
      textname: '',
      textposition: '',
      textsubject: '',
      textfaculty: '',
      textgoal: '',
      texttool: '',
      textbuilding: '',
      textfloor: '',
      textroom: '',
      texttime: ''
    }
  }
}
</script>
<style>
</style>
