<template>
  <div class="my-4 ml-2">
    <h4>ข้อมูลบุคคล</h4>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button @click="addDataUser" variant="primary" href="addDataUser"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="dataUser"
            :fields="fields"
          >
            <template #cell(editdataUser)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button
                @click="editdataUser(item)"
                variant="warning"
                href="editDataUser"
                >แก้ไข</b-button
              >
            </template>
            <template #cell(deletedataUser)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="deletedataUser(item)" variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    addDataUser () {},
    editdataUser () {},
    deletedataUser () {}
  },
  data () {
    return {
      fields: [
        { key: 'dataUserId', label: 'ลำดับ' },
        { key: 'namedataUser', label: 'ชื่อ-สกุล' },
        { key: 'dayTime', label: 'วัน/เดือน/ปี ที่เข้าระบบ' },
        { key: 'unitAddress', label: 'หน่วยงานที่อยู่' },
        { key: 'editdataUser', label: '' },
        { key: 'deletedataUser', label: '' }
      ],
      dataUser: [
        {
          dataUserId: 1,
          namedataUser: 'สมศักดิ์   พันธ์มา',
          dayTime: '20/01/2018', // วัน/เดือน/ปี/ ที่เข้าระบบ
          unitAddress: 'กองอาคารสถานที่' // หน่วยงานที่อยู่
        },
        {
          dataUserId: 2,
          namedataUser: 'สูสี  จันทร์นา',
          dayTime: '20/01/2018', // วัน/เดือน/ปี/ ที่เข้าระบบ
          unitAddress: 'กองอาคารสถานที่' // หน่วยงานที่อยู่
        },
        {
          dataUserId: 3,
          namedataUser: 'มินตรา พุทรา',
          dayTime: '15/01/2018', // วัน/เดือน/ปี/ ที่เข้าระบบ
          unitAddress: 'กองกิจการนิสิต' // หน่วยงานที่อยู่
        }
      ]
    }
  }
}
</script>
<style>
.table {
  text-align: center;
  background: white;
}
</style>
