<template>
  <div class="my-4 ml-2">
    <b-container>
      <b-row>
        <b-col cols="4">
          <label>ชื่อ-นามสกุล</label>
          <b-form-input v-model="textname"></b-form-input>
        </b-col>
        <b-col cols="3">
          <label>ตำแหน่ง</label>
          <b-form-input v-model="textposition"></b-form-input>
        </b-col>
        <b-col cols="5">
          <label>คณะ</label>
          <b-form-select v-model="selected" :options="faculty" class="mb-3">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกคณะ --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row class="my-2">
        <b-col cols="2">
          <h6 for="input-live">ตึก</h6>
          <b-form-input v-model="textbuilding" disabled> </b-form-input>
        </b-col>
        <b-col cols="2">
          <h6 for="input-live">ชั้น</h6>
          <b-form-input v-model="textfloor" disabled> </b-form-input>
        </b-col>
        <b-col cols="3">
          <h6 for="input-live">ห้อง</h6>
          <b-form-input v-model="textroom" disabled></b-form-input>
        </b-col>
        <b-col>
          <label>สาขา</label>
          <b-form-select v-model="chooseBranch" :options="branch" class="mb-3">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกสาขา --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row class="my-5">
        <b-col cols="7">
          <vue-cal
            class="vuecal--rounded-theme vuecal--blue-theme"
            :time-from="8 * 60"
            :time-to="19 * 60"
            style="height: 400px"
            :locale="th"
            active-view="day"
            :disable-views="['years', 'year', 'week', 'month']"
            :events="events"
            @ready="ready($event)"
            @view-change="viewChange($event)"
          />
        </b-col>
        <b-col cols="5">
          <b-row>
            <b-col>
              <b-form-group label="วัตถุประสงค์" v-slot="{ ariaDescribedby }">
                <b-form-checkbox
                  v-for="option in options"
                  v-model="checkObject"
                  :key="option.value"
                  :value="option.value"
                  :aria-describedby="ariaDescribedby"
                  name="flavour-3a"
                >
                  {{ option.text }}
                </b-form-checkbox>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label="อุปกรณ์ที่ขอใช้"
                v-slot="{ ariaDescribedby }"
              >
                <b-form-checkbox
                  v-for="optionDevice in optionDevices"
                  v-model="checkDevice"
                  :key="optionDevice.value"
                  :value="optionDevice.value"
                  :aria-describedby="ariaDescribedby"
                  name="flavour-3a"
                >
                  {{ optionDevice.text }}
                </b-form-checkbox>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-input-group>
                <b-form-input
                  id="date"
                  v-model="value"
                  type="text"
                  placeholder="YYYY-MM-DD"
                  autocomplete="off"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-datepicker
                    v-model="value"
                    button-only
                    right
                    locale="th"
                    aria-controls="date"
                  ></b-form-datepicker>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>
          <b-row class="my-3">
            <b-col>
              <b-input-group>
                <b-form-input
                  id="start"
                  v-model="startTime"
                  type="text"
                  placeholder="choose a time start"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-timepicker
                    v-model="startTime"
                    button-only
                    right
                    locale="th"
                    aria-controls="start"
                  ></b-form-timepicker>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>
          <b-row class="my-3">
            <b-col>
              <b-input-group>
                <b-form-input
                  id="end"
                  v-model="endTime"
                  type="text"
                  placeholder="choose a time end"
                ></b-form-input>
                <b-input-group-append>
                  <b-form-timepicker
                    v-model="endTime"
                    button-only
                    right
                    locale="th"
                    aria-controls="end"
                  ></b-form-timepicker>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="d-flex justify-content-center">
              <b-button @click="ok();saveBooking();" variant="primary">ยืนยัน</b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import { getEvents } from '../services/booking'
import th from '../locale/th'
export default {
  name: 'DetailMainUser',
  components: {
    VueCal
  },
  computed: {
    th () {
      return th
    }
  },
  data () {
    return {
      events: [],
      value: null,
      title: '',
      startTime: '',
      endTime: '',
      textbuilding: '',
      textfloor: '',
      textroom: '',
      // room: {},
      booking: [],
      selected: null,
      faculty: [],
      chooseBranch: null,
      branch: [],
      checkObject: [], // Must be an array reference!
      options: [
        { text: 'สัมนา', value: 'seminar' },
        { text: 'อบรม', value: 'training' },
        { text: 'จัดกิจกรรม', value: 'event' },
        { text: 'จัดการเรียนการสอน', value: 'study' },
        { text: 'ประชุม', value: 'meeting' }
      ],
      checkDevice: [], // Must be an array reference!
      optionDevices: [
        { text: 'ระบบเครื่องเสียง', value: 'audio' },
        { text: 'โปรเจคเตอร์', value: 'projector' },
        { text: 'โน๊ตบุ๊ค', value: 'notebook' },
        { text: 'ไมค์', value: 'microphone' }
      ],
      textname: '',
      textposition: ''
    }
  },
  mounted () {
    this.getData()
    this.getFaculty()
    this.getBranch()
    this.ok()
  },
  methods: {
    ok () {
      const event = {
        start: this.value + ' ' + this.startTime,
        end: this.value + ' ' + this.endTime,
        title: this.textname
      }
      console.log(event)
      this.events.push(event)
    },
    async ready (e) {
      console.log('ready', e)
      const res = await getEvents(e.startTime, e.endTime)
      console.log(res)
      const newEvents = res.data.map(function (event) {
        return {
          start: event.startTime,
          end: event.endTime,
          name: event.textname,
          position: event.textposition,
          faculty: event.selected,
          branch: event.chooseBranch,
          content: event.checkObject,
          equipment: event.checkDevice,
          building: event.textbuilding,
          floor: event.floor,
          room: event.room
        }
      })
      this.events = newEvents
    },
    async saveBooking () {
      const postData = this.newEvents
      try {
        const res = await fetch('http://localhost:3000/bookings/', {
          method: 'post',
          body: JSON.stringify(postData)
        })
        if (!res.ok) {
          const message = 'error'
          throw new Error(message)
        }
        // const data = await res.json()
        // const result = {
        //   data: data
        // }
      } catch (err) {
        console.log(err)
      }
    },
    // async viewChange (e) {
    //   console.log('view-change', e)
    //   const res = await getEvents(e.startTime, this.endTime)
    //   const newEvents = res.data.map(function (event) {
    //     return {
    //       start: event.startTime,
    //       end: event.endTime
    //     }
    //   })
    //   this.events = newEvents
    // },
    getData () {
      axios.get('http://localhost:3000/rooms/' + this.$route.params._id).then(
        function (response) {
          this.textbuilding = response.data.building
          this.textfloor = response.data.floor
          this.textroom = response.data.code
        }.bind(this)
      )
      console.log(this.response)
    },
    getFaculty () {
      axios.get('http://localhost:3000/faculty').then(
        function (response) {
          response.data.forEach((element) => {
            const obj = {
              _id: element._id,
              text: element.faculty,
              value: element.faculty
            }
            this.faculty.push(obj)
          })
        }.bind(this)
      )
    },
    getBranch () {
      axios.get('http://localhost:3000/branch').then(
        function (response) {
          response.data.forEach((element) => {
            const obj = {
              _id: element._id,
              text: element.branch,
              value: element.branch
            }
            this.branch.push(obj)
          })
        }.bind(this)
      )
    }
  }
}
</script>
<style>
.vuecal__event.vdo_time {
  background-color: rgba(73, 132, 155, 0.9);
  border: 1px solid rgba(73, 132, 155, 0.9);
  color: #fff;
}
</style>
