<template>
  <div class="my-4 ml-2">
    <h4>เอกสารการขอจอง</h4>
    <b-container class="my-5">
      <b-row>
        <b-col>
          <label>ชื่อ-นามสกุล</label>
          <b-form-input v-model="textname"></b-form-input>
        </b-col>
        <b-col>
          <label>ตำแหน่ง</label>
          <b-form-input v-model="textposition"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label>คณะ</label>
          <b-form-select v-model="selected" :options="faculty" class="mb-3">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกคณะ --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
        <b-col>
          <label>สาขา</label>
          <b-form-select v-model="chooseBranch" :options="branch" class="mb-3">
            <template #first>
              <b-form-select-option :value="null" disabled
                >-- กรุณาเลือกสาขา --</b-form-select-option
              >
            </template>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="วัตถุประสงค์" v-slot="{ ariaDescribedby }">
            <b-form-checkbox
              v-for="option in options"
              v-model="checkObject"
              :key="option.value"
              :value="option.value"
              :aria-describedby="ariaDescribedby"
              name="flavour-3a"
            >
              {{ option.text }}
            </b-form-checkbox>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="อุปกรณ์ที่ขอใช้" v-slot="{ ariaDescribedby }">
            <b-form-checkbox
              v-for="optionDevice in optionDevices"
              v-model="checkDevice"
              :key="optionDevice.value"
              :value="optionDevice.value"
              :aria-describedby="ariaDescribedby"
              name="flavour-3a"
            >
              {{ optionDevice.text }}
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
    </b-container>
    <div class="d-flex justify-content-between my-5">
      <router-link :to="{ name: 'DetailMainUser' }">
        <b-button @click="backBooking" variant="outline-primary"
          >กลับ</b-button
        ></router-link
      >
      <b-button @click="confirmBooking" variant="primary">ยืนยัน</b-button>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'DocumentBooking',
  mounted () {
    this.getFaculty()
    this.getBranch()
    this.confirmBooking()
  },
  methods: {
    getFaculty () {
      axios.get('http://localhost:3000/faculty').then(
        function (response) {
          response.data.forEach((element) => {
            const obj = {
              _id: element._id,
              text: element.faculty,
              value: element.faculty
            }
            this.faculty.push(obj)
          })
        }.bind(this)
      )
    },
    getBranch () {
      axios.get('http://localhost:3000/branch').then(
        function (response) {
          response.data.forEach((element) => {
            const obj = {
              _id: element._id,
              text: element.branch,
              value: element.branch
            }
            this.branch.push(obj)
          })
        }.bind(this)
      )
    },
    confirmBooking () {
      const save = {
        name: this.textname,
        position: this.textposition,
        faculty: this.selected,
        branch: this.chooseBranch,
        content: this.checkObject,
        equipment: this.checkDevice
      }
      console.log(save)
      this.booking.push(save)
    },
    backBooking () {}
  },
  data () {
    return {
      booking: [],
      selected: null,
      faculty: [],
      chooseBranch: null,
      branch: [],
      checkObject: [], // Must be an array reference!
      options: [
        { text: 'สัมนา', value: 'seminar' },
        { text: 'อบรม', value: 'training' },
        { text: 'จัดกิจกรรม', value: 'event' },
        { text: 'จัดการเรียนการสอน', value: 'study' },
        { text: 'ประชุม', value: 'meeting' }
      ],
      checkDevice: [], // Must be an array reference!
      optionDevices: [
        { text: 'ระบบเครื่องเสียง', value: 'audio' },
        { text: 'โปรเจคเตอร์', value: 'projector' },
        { text: 'โน๊ตบุ๊ค', value: 'notebook' },
        { text: 'ไมค์', value: 'microphone' }
      ],
      textname: '',
      textposition: ''
    }
  }
}
</script>
<style></style>
