<template>
  <div class="my-4 ml-2">
    <h4>แก้ไขข้อมูลตึก</h4>
    <b-card class="mx-auto my-5" border-variant="dark" style="max-width: 50rem">
      <b-row>
        <b-col sm="3"><label class="text-dark">ชื่อตึก</label></b-col>
        <b-col sm="9">
          <b-form-input
            v-model="textnamebuilding"
            class="nameBuild"
          ></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">จำนวนชั้น</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="textnumfloor" class="numFloor"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"><label class="text-dark">จำนวนห้อง</label></b-col>
        <b-col sm="9">
          <b-form-input v-model="textnumroom" class="numRoom"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="3"
          ><label class="text-dark">หน่วยงานที่รับผิดชอบ</label></b-col
        >
        <b-col sm="9">
          <b-form-input v-model="textunit" class="inputunit"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button @click="backBuild" variant="outline-primary" href="Building"
        >กลับ</b-button
      >
      <b-button @click="confirmEditBuild" variant="primary" href="Building"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backBuild () {},
    confirmEditBuild () {}
  },
  data () {
    return {
      textnamebuilding: '',
      textnumfloor: '',
      textnumroom: '',
      textunit: ''
    }
  }
}
</script>
<style></style>
