<template>
  <div class="my-4 ml-2">
    <h4>แก้ไขข้อมูลผู้พิจารณา</h4>
    <b-card class="mx-auto my-4" border-variant="dark" style="max-width: 50rem">
      <b-row>
        <b-col sm="2"><label class="text-dark">ชื่อ - สกุล</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="textname" class="name"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label class="text-dark">ตำแหน่ง</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="textday" class="Day"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label class="text-dark">ห้องรับผิดชอบ</label></b-col>
        <b-col sm="10">
          <b-form-input
            v-model="textunitAddress"
            class="unitAddress"
          ></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label class="text-dark">Username</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="textusername" class="username"></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button
        @click="backtableapprover"
        variant="outline-primary"
        href="tableApprover"
        >กลับ</b-button
      >
      <b-button
        @click="confirmtableappover"
        variant="primary"
        href="tableApprover"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backtableapprover () {},
    confirmtableappover () {}
  },
  data () {
    return {
      textname: '',
      textday: '',
      textunitAddress: '',
      textusername: ''
    }
  }
}
</script>
<style></style>
