<template>
  <div class="my-4 ml-2">
    <h4>แก้ไขข้อมูลบุคคล</h4>
    <b-card class="mx-auto my-4" border-variant="dark" style="max-width: 50rem">
      <b-row>
        <b-col sm="2"><label class="text-dark">ชื่อ - สกุล</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="textname" class="nameBuild"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label class="text-dark">วัน/เดือน/ปี</label></b-col>
        <b-col sm="10">
          <b-form-input v-model="textdate" class="date"></b-form-input>
        </b-col> </b-row
      ><br />
      <b-row>
        <b-col sm="2"><label class="text-dark">หน่วยงานที่อยู่</label></b-col>
        <b-col sm="10">
          <b-form-input
            v-model="textunitaddress"
            class="unitaddress"
          ></b-form-input>
        </b-col>
      </b-row>
    </b-card>
    <div class="d-flex justify-content-between my-5">
      <b-button @click="backDataUser" variant="outline-primary" href="dataUser"
        >กลับ</b-button
      >
      <b-button @click="confirmDataUser" variant="primary" href="dataUser"
        >ยืนยัน</b-button
      >
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    backDataUser () {},
    confirmDataUser () {}
  },
  data () {
    return {
      textname: '',
      textdate: '',
      textunitaddress: ''
    }
  }
}
</script>
<style></style>
