<template>
  <div class="my-5">
    <b-row>
      <b-col>
        <b-form-select v-model="selected" :options="building">
          <template>
            <b-form-select-option :value="null" disabled
              >-- กรุณาเลือกตึก --</b-form-select-option
            >
          </template>
        </b-form-select>
      </b-col>
      <b-col>
        <b-button @click="search" variant="primary">ค้นหา</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          class="table table-hover table-bordered my-4"
          :items="detailBooking"
          :fields="fields"
        >
          <template #cell(operators)="{ item }">
            <router-link :to="{ name: 'DetailMainUser', params: {_id: item._id}}">
              <b-button variant="success"
                >รายละเอียด</b-button
              ></router-link
            >
          </template>
        </b-table>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  mounted () {
    this.getBuilding()
    this.getRooms()
    this.search()
  },
  methods: {
    search () {
      this.detailBooking = []
      this.getBuildingbyID()
    },
    getBuildingbyID () {
      axios.get('http://localhost:3000/rooms/find/' + this.selected).then(
        function (response) {
          let num = 0
          response.data.forEach((element) => {
            num++
            const obj = {
              _id: element._id,
              Num: num,
              code: element.code,
              dasc: element.dasc,
              floor: element.floor
            }
            this.detailBooking.push(obj)
          })
        }.bind(this)
      )
    },
    getBuilding () {
      axios.get('http://localhost:3000/building').then(
        function (response) {
          response.data.forEach((element) => {
            const obj = {
              _id: element._id,
              text: element.name,
              value: element.code,
              floor: element.floor,
              rooms: element.rooms,
              agency: element.agency
            }
            this.building.push(obj)
          })
        }.bind(this)
      )
    },
    getRooms () {
      axios.get('http://localhost:3000/rooms').then(
        function (response) {
          let num = 0
          response.data.forEach((element) => {
            num++
            const obj = {
              _id: element._id,
              Num: num,
              code: element.code,
              dasc: element.dasc,
              floor: element.floor
            }
            this.detailBooking.push(obj)
          })
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: 'Num', label: 'ลำดับ' },
        { key: 'floor', label: 'ชั้น' },
        { key: 'code', label: 'ชื่อห้อง' },
        { key: 'dasc', label: 'อุปกรณ์ให้ยืม' },
        { key: 'operators', label: '' }
      ],
      detailBooking: [],
      selected: null,
      building: []
    }
  }
}
</script>
<style>
.table {
  text-align: center;
  background: white;
}
</style>
