<template>
  <div class="my-4 ml-2">
    <h4>รายการการจอง</h4>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="reservation"
            :fields="fields"
          >
            <template #cell(detail)="{ item }">
              <b-button
                @click="reservationlist(item)"
                variant="success"
                href="DetailApprover"
                >รายละเอียด</b-button
              >
            </template>
            <template #cell(approver1)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="reservationlist(item)" variant="primary"
                >อนุมัติ</b-button
              >
            </template>
            <template #cell(approver2)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="reservationlist(item)" variant="danger"
                >ไม่อนุมัติ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  mounted () {
    this.getReservation()
  },
  methods: {
    reservationlist (item) {}, // ปุ่มรายละเอียด
    getReservation () {
      axios
        .get(
          'http://localhost:3000/bookings?startDate=2022-04-10 00:00&endDate=2022-04-10 23:59'
        )
        .then(
          function (response) {
            console.log(response.data)
            let num = 0
            response.data.forEach((element) => {
              num++
              const obj = {
                _id: element._id,
                Num: num,
                name: element.name,
                building: element.building,
                floor: element.floor,
                room: element.room,
                startDate: element.startDate,
                endDate: element.endDate
              }
              this.reservation.push(obj)
            })
          }.bind(this)
        )
    }
  },
  data () {
    return {
      fields: [
        { key: 'Num', label: 'ลำดับ' },
        { key: 'building', label: 'ตึก' },
        { key: 'floor', label: 'ชั้น' },
        { key: 'room', label: 'ห้อง' },
        { key: 'startDate', label: 'เวลาเริ่มต้น' },
        { key: 'endDate', label: 'เวลาสิ้นสุด' },
        { key: 'name', label: 'ผู้จอง' },
        { key: 'detail', label: '' }, // หัวข้อของปุ่ม
        { key: 'approver1', label: '' },
        { key: 'approver2', label: '' }
      ],
      reservation: []
    }
  }
}
</script>
<style>
.table {
  text-align: center;
  background: white;
}
</style>
