<template>
  <div class="my-4">
    <center><b-img src="../assets/buu.png"></b-img></center>
    <b-container>
      <b-row class="my-4">
        <h4>ประชาสัมพันธ์</h4>
      </b-row>
      <b-row class="card bg-white">
        <b-col>
          <a href=""
            >แบบเสนอเรื่องเพื่อจัดเข้าวาระการประชุมคณะกรรมการจัดหารายได้หรือผลประโยชน์จากที่ราชพัสดุและจากอสังหาริมทรัพย์ของมหาวิทยาลัย</a
          >
        </b-col> </b-row
      ><br />
      <b-row class="card2 bg-white">
        <b-col>
          <a href="">
            ระเบียบมหาวิทยาลัยบูรพาว่าด้วยการจัดหารายได้หรือผลประโยชนจากที่ราชพัสดุและจากอสังหาริมทรัพย์ที่เป็นกรรมสิทธิ์ของมหาวิทยาลัยบูรพา</a
          >
        </b-col> </b-row
      ><br />
      <b-row class="card3 bg-white">
        <b-col>
          <a href="">แบบฟอร์มขอความอนุเคราะห์ออกแบบ</a>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {}
</script>
<style></style>
