<template>
  <div class="my-4 ml-2">
    <h4>ข้อมูลห้อง</h4>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button @click="addRoom" variant="primary" href="addRoom"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="detailRoom"
            :fields="fields"
          >
            <template #cell(editRoom)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button
                @click="editRoom(item)"
                variant="warning"
                href="editRoom"
                >แก้ไข</b-button
              >
            </template>
            <template #cell(deleteRoom)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button @click="deleteRoom(item)" variant="danger">ลบ</b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    addRoom () {},
    editRoom () {}, // ปุ่มแก้ไข
    deleteRoom () {}
  },
  data () {
    return {
      fields: [
        { key: 'RoomId', label: 'ลำดับ' },
        { key: 'Room', label: 'ห้อง' },
        { key: 'editRoom', label: '' }, // หัวข้อของปุ่ม
        { key: 'deleteRoom', label: '' }
      ],
      detailRoom: [
        {
          RoomId: 1,
          Room: 'ตึกแปซิฟิก ชั้น3 ห้อง c-301'
        },
        {
          RoomId: 2,
          Room: 'ตึกแปซิฟิก ชั้น8 ห้อง M-805'
        },
        {
          RoomId: 3,
          Room: 'ตึกพิทักษ์ ชั้น2 ห้อง L-202'
        },
        {
          RoomId: 4,
          Room: 'xxxxxxxxxxxxxxxxxxxxxxx'
        }
      ]
    }
  }
}
</script>
<style>
.table {
  text-align: center;
  background: white;
}
</style>
