<template>
  <div class="my-4 ml-2">
    <h4>สถานะการจอง</h4>
    <b-container>
      <b-row>
        <b-col>
          <b-table
            class="table table-bordered my-4"
            :items="detailStatus"
            :fields="fields"
          >
            <!-- A custom formatted column -->
            <template #cell(detailRoom)="data">
              <b>{{ data.value.room }}</b>
              <b class="ml-5">{{ data.value.time }}</b>
            </template>
            <template #cell(approveStatus_1)="data">
              <span v-html="data.value"></span>
            </template>
            <template #cell(approveStatus_2)="data">
              <span v-html="data.value"></span>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  mounted () {
    this.getStatus()
  },
  methods: {
    getStatus () {
      axios.get('http://localhost:3000/bookings?startDate=2022-04-10 00:00&endDate=2022-04-10 23:59').then(
        function (response) {
          console.log(response.data)
          let num = 0
          response.data.forEach(element => {
            num++
            const obj = {
              _id: element._id,
              Num: num,
              building: element.building,
              floor: element.floor,
              room: element.room,
              startDate: element.startDate,
              endDate: element.endDate
            }
            this.detailStatus.push(obj)
          })
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: 'Num', label: 'ลำดับ' },
        { key: 'building', label: 'ตึก' },
        { key: 'floor', label: 'ชั้น' },
        { key: 'room', label: 'ห้อง' },
        { key: 'startDate', label: 'เริ่มจอง' },
        { key: 'endDate', label: 'หมดเวลา' }
        // { key: 'approveStatus_1', label: 'ผู้พิจารณา' },
        // { key: 'approveStatus_2', label: 'รองอธิบการบดี' }
      ],
      detailStatus: [
      ]
    }
  }
}
</script>
<style>
.table {
  margin-top: 2%;
  text-align: center;
  background: white;
}
</style>
