<template>
  <div class="my-4 ml-2">
    <h4>ข้อมูลหน่วยงานย่อย</h4>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button @click="addUnitSub" variant="primary" href="addunitSub"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="unitSub"
            :fields="fields"
          >
          <template #cell(editunitSub)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="editunitSub(item)" variant="warning" href="editunitSub">แก้ไข</b-button>
            </template>
            <template #cell(deleteunitSub)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="deleteunitSub(item)" variant="danger">ลบ</b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    addUnitSub () {},
    editunitSub () {},
    deleteunitSub () {}
  },
  data () {
    return {
      fields: [
        { key: 'unitSubId', label: 'ลำดับ' },
        { key: 'nameunitSub', label: 'ชื่อหน่วยงาน' },
        { key: 'numPeople', label: 'จำนวนคน' },
        { key: 'segment', label: 'ส่วนงานที่รับผิดชอบ' },
        { key: 'editunitSub', label: '' },
        { key: 'deleteunitSub', label: '' }
      ],
      unitSub: [
        {
          unitSubId: 1,
          nameunitSub: 'หน่วยบริหารอาคาร',
          numPeople: '8', // จำนวนคน
          segment: 'xxxx' // ส่วนงานที่รับผิดชอบ
        },
        {
          unitSubId: 2,
          nameunitSub: 'หน่วยให้บริการยืม-คืนวัสดุครุภัณฑ',
          numPeople: '6', // จำนวนคน
          segment: 'xxxx' // ส่วนงานที่รับผิดชอบ
        },
        {
          unitSubId: 1,
          nameunitSub: 'หน่วยบริการและพัฒนาสังคม',
          numPeople: '10', // จำนวนคน
          segment: 'xxxx' // ส่วนงานที่รับผิดชอบ
        }
      ]
    }
  }
}
</script>
<style>
</style>
