<template>
  <div class="my-4 ml-2">
    <h4>ข้อมูลผู้พิจารณา</h4>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button
            @click="addmangeapprove"
            variant="primary"
            href="addmangeapprove"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="detailmangeapprove"
            :fields="fields"
          >
            <template #cell(editmangeapprove)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button
                @click="editmangeapprove(item)"
                variant="warning"
                href="editmangeapprove"
                >แก้ไข</b-button
              >
            </template>
            <template #cell(deletemangeapprove)="{ item }">
              <!-- {{ item.buildingId }} -->
              <b-button @click="deletemangeapprove(item)" variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    addmangeapprove () {},
    editmangeapprove () {}, // ปุ่มแก้ไข
    deletemangeapprove () {}
  },
  data () {
    return {
      fields: [
        { key: 'mangeapproveId', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อ-นามสกุล' },
        { key: 'position', label: 'ตำแหน่ง' },
        { key: 'room', label: 'ห้องที่รับผิดชอบ' }, // ห้องที่รับผิดชอบ
        { key: 'username', label: 'Username' },
        { key: 'editmangeapprove', label: '' }, // หัวข้อของปุ่ม
        { key: 'deletemangeapprove', label: '' }
      ],
      detailmangeapprove: [
        {
          mangeapproveId: '1',
          name: 'ศ.ดร.ปรมะ นา',
          position: 'อาจารย์',
          room: 'C-301',
          username: 'NANA123'
        },
        {
          mangeapproveId: '2',
          name: 'xxxxxxxxxxxxxxxxxxxx',
          position: 'อาจารย์',
          room: 'C-301',
          username: 'xxxxxxxxxxxxxxxxxxxxxx'
        },
        {
          mangeapproveId: '3',
          name: 'xxxxxxxxxxxxxxxxxxxxx',
          position: 'อาจารย์',
          room: 'C-302',
          username: 'xxxxxxxxxxxxxxxx'
        },
        {
          mangeapproveId: '4',
          name: 'xxxxxxxxxxxxxxxxxxxxx',
          position: 'อาจารย์',
          room: 'C-302',
          username: 'xxxxxxxxxxxxxxxx'
        }
      ]
    }
  }
}
</script>
<style></style>
