<template>
  <div class="my-4 ml-2">
    <h4>หน่วยงาน</h4>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <b-button @click="addUnit" variant="primary" href="addunit"
            >เพิ่ม</b-button
          >
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table
            class="table table-hover table-bordered my-4"
            :items="unit"
            :fields="fields"
          >
            <template #cell(deleteunit)="{ item }">
              <!-- {{ item.approverId }} -->
              <b-button @click="deleteunit(item)" variant="danger">ลบ</b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  methods: {
    addUnit () {},
    deleteunit () {}
  },
  data () {
    return {
      fields: [
        { key: 'unitId', label: 'ลำดับ' },
        { key: 'nameunit', label: 'ชื่อหน่วยงาน' },
        { key: 'deleteunit', label: '' }
      ],
      unit: [
        {
          unitId: 1,
          nameunit: 'กองอาคารสถานที่'
        },
        {
          unitId: 1,
          nameunit: 'กองกิจการนิสิต'
        },
        {
          unitId: 1,
          nameunit: 'กองบิรการนักศึกษา'
        }
      ]
    }
  }
}
</script>
<style>
.table {
  text-align: center;
  background: white;
}
</style>
