<template>
  <div class="login d-flex justify-content-center align-items-center">
      <b-row>
        <b-col>
          <b-card style="max-width: 30rem" class="card">
            <b-card-text class="my-3">
              <h3 class="text-center">LOG IN</h3>
              <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                <b-input-group class="my-4">
                  <b-input-group-prepend is-text>
                    <b-icon icon="at"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    placeholder="Username"
                    required
                  ></b-form-input>
                </b-input-group>

                <b-input-group class="my-3">
                  <b-input-group-prepend is-text>
                    <b-icon icon="file-lock"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    id="input-2"
                    v-model="form.password"
                    placeholder="Password"
                    required
                    type="password"
                  ></b-form-input>
                </b-input-group>
                <div class="text-center">
                  <b-button pill type="submit" class="m-3" id="submit"
                    >Login</b-button
                  >
                </div>
              </b-form>
            </b-card-text>
          </b-card>
        </b-col>
      </b-row>
  </div>
</template>
<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  name: 'Login',
  mounted () {
    this.$emit('loadLogin', true)
  }
}
</script>
<style>
.login {
  height: 100vh;
}
.submit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #86a7da;
}
.card {
  background-color: #e6ecf3;
}
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(76, 108, 172);
}
#submit {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #86a7da;
}
</style>
