<template>
  <div class="app-menu min-vh-100">
    <b-img
      src="../assets/Buulogo.png"
      width="100%"
      class="pt-3 pb-2"
      center
    ></b-img>
    <b-nav vertical>
      <b-nav-item to="/mainAdmin">หน้าหลัก</b-nav-item>
      <b-nav-item to="/building">ตึก</b-nav-item>
      <b-nav-item to="/manageUsers">ผู้ใช้</b-nav-item>
      <b-nav-item @click="showUnit = !showUnit"
        >หน่วยงาน
        <b-icon
          :icon="showUnit ? 'caret-down-fill' : 'caret-right-fill'"
        ></b-icon
      ></b-nav-item>
      <b-nav-item class="sub-menu" v-if="showUnit" to="./unit"
        >ข้อมูลหน่วยงาน</b-nav-item
      >
      <b-nav-item class="sub-menu" v-if="showUnit" to="./dataUser"
        >ข้อมูลบุคคล</b-nav-item
      >
      <b-nav-item to="/logout">Logout</b-nav-item>
    </b-nav>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showUnit: false
    }
  }
}
</script>
<style>
.app-menu {
  background-color: rgb(255, 255, 255);
  font-size: 13pt;
  text-align: center;
}
.nav-link {
  margin-top: 5%;
  color: rgb(110, 126, 136);
}
.nav-link:hover {
  color: black;
  text-decoration-line: underline;
}
.sub-menu {
  padding-left: 10pt;
}
</style>
