<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="2" class="p-0" v-if="!statusLogin"><MenuUser/></b-col>
        <b-col class="p-0" :class="statusLogin"><NavBar v-if="!statusLogin" />
          <b-container fluid>
            <router-view @loadLogin="login" />
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import NavBar from './components/NavBar.vue'
import MenuUser from './components/MenuUser.vue'
// import MenuUnit from './components/MenuUnit.vue'
// import MenuSystemAdmin from './components/MenuSystemAdmin.vue'
// import MenuApprover from './components/MenuApprover.vue'
export default {
  data () {
    return {
      statusLogin: false
    }
  },
  components: {
    NavBar,
    MenuUser
    // MenuUnit
    // MenuSystemAdmin
    // MenuApprover
  },
  methods: {
    login (event) {
      this.statusLogin = event
    }
  }
}
</script>
<style>
#app {
  background: #d5eefd;
}
</style>
